.Contenedor { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.imagen img { 
    width: 150px;
}

.menucito ul { 
    display: flex;
    padding: 25px;
    gap: 65px;
    list-style: none;
}

.menucito ul li a { 
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
}

.menucito ul li a:hover { 
    text-decoration: underline;
}